.cardv{
    width:250px;
    height:425px;
    box-shadow: 0 5px 4px 5px rgba(0, 0, 0, 0.1);margin:2rem;
}
.cardv .card-header{
    display:flex;
    flex-direction: column;
    gap:0;
}
.cardv .card-body{
    display:flex;
    flex-direction:column;
    gap:1rem;
    height:255px;
}
.cardv2 .card-header, .cardv2 .card-footer{
    background-color: rgb(112, 41, 41);
}
.cardv3 .card-header, .cardv3 .card-footer{
    background-color: rgb(44, 96, 93);
}