#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  border-collapse:collapse;
}

table th, table td{
  border:2px solid #4b4a4a;
  text-align:left;
  padding:12px 15px;
}

tbody tr:hover{
  background-color:#e4dede
}

table>
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
