#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  border-collapse:collapse;
}

table th, table td{
  border:2px solid #4b4a4a;
  text-align:left;
  padding:12px 15px;
}

tbody tr:hover{
  background-color:#e4dede;
  cursor:pointer;
}

.card-layouts-section{
  display:flex;
  flex-direction:column;
  gap:0;
  Text-align:center;
  border:solid 1px rgb(122, 120, 120);
  border-radius:4px;
  border-collapse:collapse;
  padding:10px;
}


.vertical-layouts, .horizontal-layouts{
  border: solid 1px rgb(122, 120, 120);
  padding:5px;
}

.layouts-subheading{
  text-align:left;
}

.templates-container{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
