#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table{
  border-collapse:collapse;
}
table th{
  background-color:#8c8e91;
}

table th, table td{
  border:2px solid #4b4a4a;
  text-align:left;
  padding:12px 15px;
}

tbody tr:hover{
  background-color:#e4dede;
  cursor:pointer;
}
tbody tr:active{
  background-color:#bbb8b8;
}

.card-layouts-section{
  display:flex;
  flex-direction:column;
  gap:0;
  text-align:center;
  border:solid 1px rgb(122, 120, 120);
  border-radius:4px;
  border-collapse:collapse;
  padding:10px;
}
.layouts-heading{
  margin:0px;
  margin-top:1rem;
}

.layouts-p{
  margin:0;
  margin-bottom: 1rem;;
}


.vertical-layouts, .horizontal-layouts{
  border: solid 1px rgb(122, 120, 120);
  padding:5px;
}

.layouts-subheading{
  text-align:left;
}

.templates-container{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.button-container{
  display:flex;
  justify-content: right;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 5px 8px;
  width:130px;
  margin:5px;
  margin-left:1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.download-button:disabled{
  background-color:#777373;
  cursor:not-allowed;
}
